<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<ul>
  <li><%= link_to "login with facebook", "/auth/facebook" %></li>
  <li><%= link_to "login with twitter", "/auth/twitter" %></li>
</ul>
